<section id="curriculum">
<div class="columna">
  <div class="col">
    <h3>Historial Académico</h3>
    <div class="card">

      <!-- ItemEst 1 -->
      <div class="timeline-item">
        <div class="circle-doc"></div>
        <h4>
          <i class="fa fa-calendar"></i> 2017 - 2020
        </h4>
        <h5>Técnicatura en computación</h5>
        <p>Fueron mis primeros pasos en el mundo de la tecnología, donde aprendí las bases de la programación junto con la organización de una base de datos, realicé un proyecto junto a mis compañeros para la escuela en ese momento.</p>
      </div>

      <!-- ItemEst 2 -->
      <div class="timeline-item">
        <div class="circle-doc"></div>
        <h4>
          <i class="fa fa-calendar"></i> 2020 - 2021
        </h4>
        <h5>Introducción a la programación</h5>
        <p>Fue un curso anual donde aprendi a utilizar Python por primera vez, junto con mySql y otras tecnologías, realicé mi primer C.R.U.D. Visual como proyecto final.</p>
        <p>Al finalizar la cursada se me otorgó un título donde certifica mis conocimientos, firmado por el intendente municipal.</p>
      </div>

      <!-- ItemEst 3 -->
      <div class="timeline-item">
        <div class="circle-doc"></div>
        <h4>
          <i class="fa fa-calendar"></i> 2021 - 2023
        </h4>
        <h5>Programa: #ArgPrograma 4.0</h5>
        <p>Participé en este programa divido en 2 partes, otorgado por el estado donde aprendí muchas tecnologías, al finalizar la cursada se me otorgó el titulo certificado de Full Stack Junior.</p>
      </div>

      <!-- ItemEst 4 -->
      <div class="timeline-item">
        <div class="circle-doc"></div>
        <h4>
          <i class="fa fa-calendar"></i> 2022 - Actual
        </h4>
        <h5>Licenciatura en Sistemas</h5>
        <p>Actualmente estoy cursando en la Universidad nacional de Lanús la carrera "Licenciatura en Sistemas".</p>
      </div>

    </div>
  </div>

    <div class="col">
      <h3>Experiencia laboral</h3>
      <div class="card">  

        <!-- ItemExp 1 -->
        <div class="timeline-item">
          <div class="circle-doc"></div>
          <h4>
            <i class="fa fa-calendar"></i> 2023 - Actual
          </h4>
          <h5>Sin Experiencia Laboral</h5>
          <p>Actualmente no cuento con Experiencia Laboral.</p>
        </div>
      </div>
    </div>
</div>
</section>